@font-face {
    font-family: 'AnandaCustom'; /*a name to be used later*/
    src: url('../font/ananda.ttf'); /*URL to font*/
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}

/*GENERIC STYLESHEETS*/

.navbar-item,
.title,
.subtitle,
.hero-body,
.section-content,
.section-title,
.navbar-burger span {
    text-transform: uppercase;
    color: #f0eded;
    text-shadow:  2px 2px 2px #333;
}

.subtitle,
.title,
.section-title {
    letter-spacing: 5px;
}

.subtitle {
    font-size: 15px;
    margin-top: 15px;
    font-variant: small-caps;
}

.pretitle {
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-family: 'AnandaCustom';
    font-size: 30px;
    color: #eabd84;
    font-style: italic;
    text-shadow:  2px 2px 3px #5d5d5d;
    text-transform: none;
}

.section-title {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.section-content i {
    color: #A19C94;   
    text-shadow: none;
    font-size: 16px;
}

.section-content {
    text-align: center;
}

/*HERO STYLESHEETS*/

#hero-background-img {
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-text {
    font-family: 'AnandaCustom';
    text-transform: none;
    font-size: 30px;
}

a.navbar-item.is-active {
    color: #ced4ce;
    font-weight: 500;
}

.navbar-item {
    font-size:14px;
    letter-spacing: 1px;
}

.hero-body .button {
    margin-top: 15px;
    border: 0px;
    font-variant: small-caps;
    text-transform: uppercase;
    border-radius: 30px;
    text-shadow: initial;
    font-weight: 500;
    height: 40px;
    font-size: 13px;
    letter-spacing: 1px;
}

/* Our service stylesheets */

.restaurant-img {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../img/restaurant.jpg');
    background-position: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurant-content {
    background-color: #21201E;
    padding: 2rem;
    height: 35rem;
    margin: 10px;
    line-height: 20px;
    font-size: 2em;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

@media only screen and (max-width: 760px) {
    .restaurant-content {
        height: 45rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .restaurant-content {
        height: 30rem;
    }
}

.restaurant-content #text {
    text-transform: none;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #A19C94;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size: 0.9rem;
}

.restaurant-content #chef-profile {
    background-image: url('../img/chef-profile.jpeg');
    margin: 0 auto;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.restaurant-content #chef-name {
    margin-top: 10px;
    font-size: 18px;
    text-transform: none;
    font-family: 'Times';
    color: #D8D2C9;
}

.restaurant-content #chef-title {
    margin-top: 5px;
    font-size: 12px;
    color: #D8D2C9;    
    text-transform: none;
    font-family: 'Times';
}

.bg-white .pretitle {
    text-shadow: 4px 4px 4px rgba(150, 150, 150, 0.5);
    margin-bottom: -10px;
}

.bg-white .section-title {
    color: #21201E;
    text-shadow:  4px 4px 4px rgba(150, 150, 150, 0.5);
}

.bg-white i {
    margin-bottom: 25px;
}

#our-services p {
    margin-top: 10px;
    text-transform: none;
    font-family: 'Times';
    color: #7B7771  ;
    text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
    font-size: 16px;
}

#our-services #breakfast,
#our-services #lunch,
#our-services #dinner,
#our-services #drinks {
    margin: 0 auto;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#our-services #breakfast {
    background-image: url('../img/breakfast.jpeg');
}

#our-services #lunch {
    background-image: url('../img/lunch.jpg');
}

#our-services #dinner {
    background-image: url('../img/dinner.jpg');

}

#our-services #drinks {
    background-image: url('../img/drinks.jpg');
}